:root {
  --sw-light-side-color: #3F8CBA;
  --sw-dark-side-color: #B03233;
  --bs-body-color: #f2f2f2;
  --bs-body-bg: #222f3e;
}

a,
.table {
  color: inherit;
}

a:hover {
  color: #fff;
}

.dstb-geo::after,
.lstb-geo::after {
  content: "⭑";
}

.dstb-geo::after {
  color: var(--sw-dark-side-color);
}

.lstb-geo::after {
  color: var(--sw-light-side-color);
}