:root {
  --sw-light-side-color: #3F8CBA;
  --sw-dark-side-color: #B03233;
  --sw-rote-neutral-color: #DB953B;
  --bs-body-color: #f2f2f2;
  --bs-body-bg: #222f3e;

  --link-hover-color: var(--bs-white);
}

a,
.table {
  color: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

.rote-tb span,
.geo-tb span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.rote-tb-stars svg,
.rote-tb-reva img,
.dstb-geo svg,
.lstb-geo svg {
  height: 1rem;
}

.dstb-geo svg {
  fill: var(--sw-dark-side-color);
}

.lstb-geo svg {
  fill: var(--sw-light-side-color);
}

.rote-tb-stars svg {
  fill: var(--sw-rote-neutral-color);
}