:root {
  --sw-light-side-color: #3F8CBA;
  --sw-dark-side-color: #B03233;
  --sw-rote-neutral-color: #DB953B;
  --bs-body-color: #f2f2f2;
  --bs-body-bg: #222f3e;

  --link-hover-color: var(--bs-white);
}

/*body {
  background: linear-gradient(90deg, rgba(136,14,19,1) 0%, rgba(34,47,62,1) 50%, rgba(25,81,177,1) 100%);
}

#root {
  background: radial-gradient(circle, rgba(255,255,255,0) 50%, rgba(34,47,62,1) 100%);
  min-height: 100vh;
}*/

a,
.table {
  color: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

.rote-tb span,
.geo-tb span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.rote-tb-stars svg,
.rote-tb-reva img,
.dstb-geo svg,
.lstb-geo svg {
  height: 1rem;
}

.dstb-geo svg {
  fill: var(--sw-dark-side-color);
}

.lstb-geo svg {
  fill: var(--sw-light-side-color);
}

.rote-tb-stars svg {
  fill: var(--sw-rote-neutral-color);
}